$color-dark-gray: rgba(255, 255, 255, 0.3);
$color-dark-gray-hover: rgba(210, 210, 210, 0.689);
$color-gray: rgb(169, 169, 169);
$color-black: rgba(48, 47, 47, 0.782);
$color-red: rgba(200, 41, 41, 0.766);
$color-red-hover: rgb(204, 29, 29);
$color-gradient: linear-gradient(140deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.2) 100%);

$box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.1);

$fs-16: 1rem;
